header { 
    border: 1px solid goldenrod;
    }

header ul li {
    display: inline;
    margin-right: 5px;
}

.disabled {
    color: grey;
}

a.disabled {
    color: purple;
}

.active {
   color : yellow;
}
.parent > div div:first-child {
    color: red;
}

.parent > div div:last-of-type {
    color: blue;
}

.parent > div div:first-child ~ h4:first-of-type {
    background-color: red;
}

.parent > div div:last-of-type ~ h4 {
    background-color: blue;
}

.grandparent > h4 {
    border: 1px solid;
    border-radius: 10px;
}

.promo {
    font-weight: bold;
    color: gold;
}

.padded > span input[type="text"] {
    height: 25px;
}